<h1>Edit book</h1>
<table>
<%= form_for @book do |book| %>
  <tr>
    <td><%= book.label :title %></td>
    <td><%= book.text_field :title %></td>
  </tr>
  <tr>
    <td><%= book.label :body %></td>
    <td><%= book.text_area :body %></td>
  </tr>
  <tr>
    <td><%= book.submit %></td>
  </tr>
<% end %>
</table>


