<h1>List Of books</h1>
<%= flash[:notice] %>
<table class=list_articles>
  <tr>
    <td>Title</td>
    <td>Content</td>
    <td>Option</td>
  </tr>
  <% @books.each do |book|%>
  <tr>
  <td><%= book.title %></td>
  <td><%= book.body %></td>
  <td><%= link_to "Show", book, :class => "no-border" %> <%= link_to 'Edit', edit_book_path(book.id) %> <%= link_to 'Delete', book_path(book.id), :confirm => 'Are you sure want to delete this item?', :method => :delete %>
  </tr>
  <% end %>
</table>
<p><%= link_to "Add new book", new_book_path%></p>


