<div class="content">
  <h4><%= @book.title %></h4>
  <table class=list_books>
      <td><%= @book.body %></td>
    </tr>
    <tr> 
      <td><%= @book.created_at %></td>
    </tr>
</div>
<table>
  <%= form_for @comment do |comment| %>
    <td><%= comment.text_area :comment  %></td>
  </tr>
  <tr>
    <td><%= comment.submit %></td>
  </tr>
<% end %>
<%= link_to 'Back to book', books_path %>

