<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    "application","style" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"%>
  <%= javascript_include_tag "jquery-rails.js"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class=container>
    <%= raw(welcome_text) %>
    <%= yield %>
  </div>
</body>
</html>
